* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    padding: 10px;
    width: 100%;
}

.cart-button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #7a767a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
}

.goods-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    min-width: 100px;
    min-height: 120px;
    border-radius:10px;
    box-shadow:10px 10px 80px 10px #c0c0c0;
    background-color:#f2f2f2;
}